@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background-color: hsl(0, 0%, 13%); /* hsl(0, 0%, 17%) */
	--header-color: hsl(14, 100%, 78%);
	--text-color: hsl(16, 16%, 81%);
	--news-header-color: hsl(43, 96%, 58%);
	--border-color: hsla(15, 15%, 69%, 0.5);
	--btn-bg-color: hsl(0, 0%, 25%);
	--news-section-bg-color: hsl(0, 0%, 17%);
	--downloads-section-text: hsl(26, 100%, 50%);
	--script-section-text: hsl(291, 47%, 71%);
	--links-color: hsl(165, 82%, 51%);
	--hover-bg-color: hsla(16, 25%, 38%, .3);
	font-size: 62.5%;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--links-color);
}

body {
	min-height: 100vh;
	font-size: 1.6rem;
	font-family: "Ubuntu Mono", Arial, Helvetica, sans-serif;
	background-color: hsl(330, 2%, 17%); /*var(--background-color); hsl(330, 2%, 10%)*/
	color: var(--text-color);
	line-height: 2.3rem;
}

.banner {
	height: 11rem;
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 4.7rem;
}

main {
	max-width: 156.8rem;
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
}

.content {
	/* line-height: 2.3rem; */
}

aside {
	max-width: 29.5rem;
}

article {
	max-width: 85.4rem;
}

nav li a {
	border: 1px solid var(--border-color);
	width: 18.5rem;
	height: 3.9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.5rem;
	background-color: hsl(240, 1%, 15%);
	transition: background 100ms ease-in-out;
}

li a {
	color: var(--text-color);
}

nav li:nth-last-child(1) {
	margin-bottom: 8rem;
}

nav li a:hover {
	background-color: var(--hover-bg-color); /*hsl(240, 1%, 18%);*/
}

.content-section {
	border-bottom: 0.1rem solid var(--border-color);
	padding-top: 4rem;
}

.stable {
	margin: 1.5rem 0;
}

#vim-features {
	margin: 0 0 4rem 4rem;
}

.bar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-divider {
	background-color: hsl(0, 0%, 30%);
	border-top: 0.1rem solid var(--border-color);
	border-bottom: 0.1rem solid var(--border-color);
	/* margin-bottom: 4rem; */
	padding: 1rem 2rem;
}

.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.news-section {
	margin-bottom: 4rem;
}

.more-news {
	text-align: center;
}

.vim-tool {
	padding: 4rem 0;
	/* border-bottom: 0.1rem solid var(--border-color); */
}

.merch {
	/* width: 28.5rem; */
}

.merch li {
	padding: 1rem 2rem;
	text-align: center;
	border: 1px solid var(--border-color);
	margin-bottom: 2rem;
	background-color: hsl(240, 1%, 22%);;
}

.container {
	width: 800px;
}

h1 {
	color: var(--header-color);
	font-size: 2.4rem;
	margin-bottom: 3rem;
}

h2 {
	font-size: 2rem;
}

.news-section-header {
	color: var(--header-color);
}

.vim-intro {
	padding: 0rem 5.7rem
}

.vim-intro p {
	margin-bottom: 1rem;
	line-height: 2.3rem;
}

.vim-intro li {
	margin-left: 4rem;
	margin-bottom: 1rem;
}

.vim-intro ul li:first-child {
	margin-top: 2rem;
}

.vim-intro ul li:last-child {
	margin-bottom: 4.2rem;
}

.news-current-version {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: hsl(0, 0%, 17%);
	padding: 1.4rem 5.7rem;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 4.2rem;
}

.scripts-updates {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.news-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5.7rem;
	margin-bottom: 2rem;
}

.ads > section {
	margin-bottom: 4rem;
}

.sponsors {
	margin-bottom: 2rem;
}

.aside-header {
	margin-bottom: 1rem;
	color: var(--news-header-color);
}

footer {
	/* max-width: 156.8rem; */
	height: 13rem;
	margin-inline: auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.3rem;
}

.footer-left {
	width: 18.5rem;
}

.footer-right {
	width: 29.5rem;
}

@media only screen and (max-width: 1920px) {
	main {
		width: 130rem;
		/* justify-content: space-between; */
	}

	.container {
		width: 650px;
	}

	.ads {
		width: 270px;
	}
}